.mybkg{
	background: linear-gradient(0deg,rgba(25, 24, 24, 0.25),rgba(23, 22, 22, 0.6)) ,url('./images/bkg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.blank_space{
	height: 300px;
}

body{
	background-color: #000000e0;
}

*{
	font-family: 'Montserrat', sans-serif;
	color: #ffffff !important;
}

.profileImg{
	object-fit: scale-down;
}
.p-5{
	background: #8080801c;
}

.aboutme p:nth-child(1){
	font-size: 22px;
	font-weight: 600;
}
.aboutme p:nth-child(2){
	font-size: 17px;
}

.welcome_msg p:nth-child(1){
	font-size: 17px;
}
.welcome_msg p:nth-child(2){
	margin: 5px 0px;
	font-size: 22px;
	font-weight: 600;
}
.welcome_msg p:nth-child(3){
	font-size: 17px;
}

@media (max-width: 530px){
	.aboutme{
		margin-top: 20px; 
	}
}